.FamilyTreeGraph {
  position: relative;
  overflow: hidden;
  height: calc(100vh - 240px);
  border: 1px solid lightGrey;
  border-radius: 4px;
  .react-transform-component,
  .react-transform-element {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .dragArea {
    height: 100%;
    width: 100%;
    .spinner-grow {
      position: relative;
      left: -1rem;
      top: -1rem;
    }
  }
  .personFirstname {
    font-size: 14px;
    text-anchor: middle;
  }
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
  }
  svg {
    position: absolute;
    margin: 0;
    padding: 0;
  }
  .personGroup {
    cursor: pointer;
  }
  .personIcon {
    font-size: 38px;
    cursor: pointer;
    .personIconCircle {
      stroke: lightgrey;
      stroke-width: 3;
      fill: white;
    }
  }
  .personName {
    .firstName {
      font-size: 14px;
      text-anchor: middle;
    }
    .familyName {
      font-size: 12px;
      text-anchor: middle;
    }
  }
}
